AllowAgentForwarding no
AllowTcpForwarding no
AllowUsers neon
AuthorizedPrincipalsFile none
ChallengeResponseAuthentication no
Ciphers aes256-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-gcm@openssh.com,aes128-ctr
ClientAliveCountMax 0
ClientAliveInterval 300
GatewayPorts no
HostbasedAuthentication no
IgnoreRhosts yes
KbdInteractiveAuthentication yes
KexAlgorithms diffie-hellman-group18-sha512,diffie-hellman-group16-sha512,sntrup761x25519-sha512@openssh.com,diffie-hellman-group-exchange-sha256,curve25519-sha256,curve25519-sha256@libssh.org
LogLevel VERBOSE
LoginGraceTime 120
Macs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-256-etm@openssh.com
MaxAuthTries 3
MaxSessions 2
MaxStartups 2
PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
PermitTunnel no
PermitUserEnvironment no
PrintLastLog no
PrintMotd no
Protocol 2
PubkeyAuthentication yes
StrictModes yes
TCPKeepAlive no
UseDns no
UsePAM yes
X11Forwarding no
Banner none
AddressFamily any
Port 22
Subsystem sftp /usr/lib/openssh/sftp-server -f AUTHPRIV -l INFO
AuthorizedKeysFile %h/.ssh/authorized_keys /etc/ssh/authorized_keys.d/%u
HostKey /etc/ssh/ssh_host_ed25519_key